<h2>{{name}}</h2>
<img id="fest-image" src="{{imageUrl}}" alt="Fest Image">
<p>User Rating: {{rating}}/100</p>
<p>posted by: <a class="posted-by-tag" href="/users/profile/{{owner._id}}">{{owner.username}}</a></p>