<h2>Edit Fest</h2>


<form action="/fests/edit/{{foundFest._id}}" method="post" enctype="multipart/form-data">

    <div>
        <label for="">Festival Name</label>
        <input type="text" name="name" value="{{foundFest.name}}">
    </div>
        <br>

    <div>
        <label for="">Review</label>
        <input type="text" name="review" value="{{foundFest.review}}">
    </div>
        <br>

    <div>
        <label for="">Favorite Set</label>
        <input type="text" name="favSet" value="{{foundFest.favSet}}">
    </div>
        <br>

    <div>
        <label for="">Rating (0-100)</label>
        <input type="number" name="rating" value="{{foundFest.rating}}">
    </div>
        <br>

    <div>
        <label for="">Picture from Festival</label>
        <input type="file" name="imageUrl"  value={{foundFest.imageUrl}}>
    </div>
        <br>

    <button type="submit">Edit Fest</button>
    <br>
    <br>

    {{!-- <script>
        $('#loginAlert').hide();
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('err');
        if(myParam == "Incorrect_Credential") {
        $('#loginAlert').show();
    }
    </script>
    <div class="alert alert-success" role="alert" id="loginAlert">
    <p style="text-align: center;">Incorrect Credential</p>
    </div> --}}

</form>

{{#if errorMessage}}

    <p>{{errorMessage}}</p>

{{/if}}