<h2>Edit Fest</h2>

<form action="/fests/edit/{{_id}}" method="post" enctype="multipart/form-data">

    <div>
        <label for="">Festival Name</label>
        <input type="text" name="name" value="{{name}}">
    </div>
        <br>

    <div>
        <label for="">Review</label>
        <input type="text" name="review" value="{{review}}">
    </div>
        <br>

    <div>
        <label for="">Favorite Set</label>
        <input type="text" name="favSet" value="{{favSet}}">
    </div>
        <br>

    <div>
        <label for="">Rating (0-100)</label>
        <input type="number" name="rating" value="{{rating}}">
    </div>
        <br>

    <div>
        <label for="">Picture from Festival</label>
        <input type="file" name="imageUrl"  value={{imageUrl}}>
    </div>
        <br>

<button type="submit">Edit Fest</button>

</form>

{{#if errorMessage}}

    <p>{{errorMessage}}</p>

{{/if}}