<h2>Edit Fest</h2>

<form action="/fests/edit/{{_id}}" method="post" enctype="multipart/form-data">

<label for="">Festival Name</label>
<input type="text" name="name" value="{{name}}">

<label for="">Description</label>
<input type="text" name="description" value="{{description}}">

<label for="">Rating</label>
<input type="number" name="rating" value="{{rating}}">

<label for="">Picture from Festival</label>
<input type="file" name="imageUrl"  value={{imageUrl}}>


<button type="submit">Edit Fest</button>

</form>