{{> eachFest}}

<a href="/fests/edit/{{_id}}"><button>Edit</button></a>

<a href="/fests/delete/{{_id}}"><button>Delete</button></a>

<form action="/fests/add-comment/{{_id}}" method="post">
    <label for="">New Comment</label>
    <input type="text" name="comment">

    <button type="submit">Add Comment</button>

</form>

{{#if comments}}

    <ul>

    {{#each comments}}

        <li>
            <p>{{comment}}</p>
            <h6>-{{user.username}}</h6>
        </li>

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}