{{> eachFest}}

<p>Overall Review: {{review}}</p>
<p>Favorite Set: {{favSet}}</p>




{{!-- NEED TO ADD REVIEW AND FAVORITE SET SOMEHOW --}}

<a href="/fests/edit/{{_id}}"><button>Edit</button></a>

<a href="/fests/delete/{{_id}}"><button>Delete</button></a>
<br>
<br>

<form action="/fests/add-comment/{{_id}}" method="post">
    <label for="">Comments</label>
    <br>
    <br>
    <input type="text" name="comment">

    <button type="submit">Add Comment</button>
    <br>
    <br>


</form>

{{#if comments}}

    <ul>

    {{#each comments}}

        <li>
            <p>{{comment}}</p>
            <h4>-{{user.username}}</h4>
            <a href="/fests/delete-comment/{{_id}}"><button>Delete Comment</button></a>
        </li>

    {{/each}}

    </ul>

{{else}}

    <p>No comments yet</p>

{{/if}}