<img src="{{profileImageUrl}}" alt="Profile Image">
<h3>{{owner.username}}</h3>
<p>{{bio}}</p>


{{!-- {{#if fests}}

    <ul> --}}

{{#each profileFests}}

    {{> eachFest}}
    <a href="/fests/details/{{_id}}">See details</a>

{{/each}}

    {{!-- </ul>

{{else}}

    <p>You haven't created any festivals yet!</p>

{{/if}} --}}