<br>
{{!-- <h1>{{name}}</h1> --}}
<img src="{{foundFests.0.owner.profileImageUrl}}" alt="Profile Image">
<h1>{{foundFests.0.owner.username}}</h1>
<p>{{foundFests.0.owner.bio}}</p>


{{!-- {{#if fests}}

    <ul> --}}

{{#each foundFests}}

    {{> eachFest}}
    <a href="/fests/details/{{_id}}">See details</a>

{{/each}}

    {{!-- </ul>

{{else}}

    <p>You haven't created any festivals yet!</p>

{{/if}} --}}