<br>
{{!-- <h1>{{name}}</h1> --}}
<img id="profile-pic" src="{{user.profileImageUrl}}" alt="Profile Image">
<h1>{{user.username}}</h1>
<p>{{user.bio}}</p>


{{!-- {{#if fests}}

    <ul> --}}

{{#each foundFests}}

    {{> eachFest}}
    <a href="/fests/details/{{_id}}">See details</a>

{{/each}}

    {{!-- </ul>

{{else}}

    <p>You haven't created any festivals yet!</p>

{{/if}} --}}